libs/Archive/arhive.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Archiv">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="Examinees">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Examinee">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="xs:int" />
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Description" type="xs:string" />
                    <xs:element name="Tests">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Test">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="xs:int" />
                                <xs:element name="Name" type="xs:string" />
                                <xs:element name="FullTime" type="xs:string" />
                                <xs:element name="Date" type="xs:string" />
                                <xs:element name="IsFinished" type="xs:boolean" />
                                <xs:element name="Results">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="Result">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="QuestID" type="xs:int" />
                                            <xs:element name="QuestNumber" type="xs:int" />
                                            <xs:element name="QuestText" type="xs:string" />
                                            <xs:element name="AnsID" type="xs:int" />
                                            <xs:element name="AnsText" type="xs:string" />
                                            <xs:element name="Time" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>